<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vpn4friends</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Account page</h2>
                <p class="text-center">hogehoge fugafuga</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col">
                            <h3 class="name">First: Get client software</h3>
                            <p class="description">Download OpenVPN client</p><button class="btn btn-primary" type="button">WIndows</button><button class="btn btn-primary" type="button">Mac</button><button class="btn btn-primary" type="button">iOS</button><button class="btn btn-primary"
                                type="button">Android</button>
                            <p class="description">if you are using Linux, search client software yourself.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col">
                            <h3 class="name">Second: Get ovpn file</h3>
                            <p class="description">Download ovpn file and open with client software.</p><button class="btn btn-primary" type="button">Download</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>