{% block base_header %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vpn4friends</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="/static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/static/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">VPN4friends</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Account</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="https://github.com/kekeho/vpn4friends">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock base_header %}

{% block contents %}{% endblock contents %}

{% block base_footer %}
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>
{% endblock base_footer %}
