{% extends "base.html" %}
{% block contents %}
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Next step to connect VPN</h2>
                <p class="text-center">The profile has been sent on your email box.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col">
                            <h3 class="name">First: Get client software</h3>
                            <p class="description">Download OpenVPN client</p>
                            <a href="/static/bin/openvpn-install-2.4.7-I603.exe" class="btn btn-primary" type="button">Windows</a>
                            <a href="/static/bin/Tunnelblick_3.7.8_build_5180.dmg" class="btn btn-primary" type="button">Mac</a>
                            <a href="https://itunes.apple.com/jp/app/openvpn-connect/id590379981?mt=8" class="btn btn-primary" type="button">iOS</a>
                            <a href="https://play.google.com/store/apps/details?id=net.openvpn.openvpn" class="btn btn-primary" type="button">Android</a>
                            <p class="description">if you are using Linux, search client software yourself.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col">
                            <h3 class="name">Second: apply VPN profile</h3>
                            <p class="description">Download .ovpn file from your mail box, and open with client software.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}